- form_for @house do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :street
    %br
    = f.text_field :street
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :tel
    %br
    = f.text_field :tel
  %p
    = f.submit
